// add font-face or font import declarations here

@font-face {
    font-family: 'nps';
    src: url('fonts/nps-regular-webfont.woff2') format('woff2'),
         url('fonts/nps-regular-webfont.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'nps';
    src: url('fonts/nps-heavy-webfont.woff2') format('woff2'),
         url('fonts/nps-heavy-webfont.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Parkly';
    src: 
        url('fonts/Parkly-Regular.woff2') format('woff2'),
        url('fonts/Parkly-Regular.woff') format('woff'),
        url('fonts/Parkly-Regular.otf') format('opentype'),
        url('fonts/Parkly-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
