body.post main {
    padding: 0;
    max-width: 1400px;
}

.post__header {
    // display: grid;
    // grid-template-columns: 100%;
    // grid-template-rows: auto 1fr;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem 1rem 3rem 1rem;
    min-height: 45vw;
    text-align: center;
    background-color: $brown;
    border: 6px solid white;
    &>* {
        position: relative;
        z-index: 2;
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .post__title {
        max-width: 85%;
        font-size: 2em;
    }

    .post__lat-lng {    
        font-variant-numeric: tabular-nums;
        display: inline-flex;
        padding: .5rem 1.5rem;
        border: 1px solid rgba(white, .5);
        border-radius: 6px;
        font-size: 1rem;
        span:last-of-type {
            margin-left: 10px;
        }
    }
}

.post__image {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: .25;
    margin: 0;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.post__body {
}
.post__sidebar {
    max-width: 1200px;
    margin: 0 auto 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &>* {
        margin-bottom: 1rem;
    }
    &>*+* {
        margin-left: 1rem;
    }
}
.panel {
    flex: 1;
    max-width: max-content;
    min-width: max-content;
    padding: 1rem;
    font-size: 0.9em;
    background-color: lighten($khaki--l, 3%);
    box-shadow: 0 0 10px 0 rgba(black, 0.05);
    margin: .5rem;
    border-radius: 2px;
    overflow: hidden;
}
.panel--full {
    flex: 100%;
}
.panel__row {
    flex: 100% 0 0;
}
.sign {
    background-color: $brown;
    color: white;
    padding: 1rem 1.5rem;
    border: 6px white solid;
    border-radius: 12px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.sign--list {
    padding: 0;
    .sign__row {
        padding: 1rem 1.5rem;
        position: relative;
    }
    .sign__row+.sign__row {
        border-top: 6px solid white;
    }
}
.panel--column {
    flex-direction: column;
    align-items: stretch;
}
.post-location {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;

    .np-arrow {
        height: 1em;
        margin-top: 0.3em;
    }
}

.post-location__text {
    font-size: .9rem;
    font-family: $sign-font;
    letter-spacing: .03em;
    margin-right: 1.5em;
}

    .post-location__title {
        font-size: 1.3em;
        margin-bottom: .4em;
        display: inline-block;
        max-width: 300px;
        font-family: $sign-font;
    
    a {
        color: white;
        text-decoration: none;
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            background-color: rgba($brown, .33);
            mix-blend-mode: color-burn;
            opacity: 0;
        }
        &:hover:after,
        &:focus:after {
            opacity: 1;
        }
    }
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel--map {
    display: none;
    padding: 0;
    @media screen and (min-width: 960px) {
        display: block;
    }
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
.icon+.icon {
    margin-left: 2rem;
}
.icon__img {
    width: 1.5rem;
    margin-bottom: 5px;
}
.icon__label {
    font-size: .75rem;
}
.rating {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.rating+.rating {
    margin-top: 1rem;
}
.rating__label {
    font-size: .9rem;
    text-transform: uppercase;
}
.rating__value {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;

    span {
        width: 1.5rem;
        margin-left: .5rem;
    }
}
.rating__value--1 {
    span {
        opacity: .3;
    }
    span:first-child {
        opacity: 1;
    }
}
.rating__value--2 {

    span:last-child {
        opacity: .3;
    }
}
.rating__value--3 {}
