---
# mobile admin styles
---

@charset "utf-8";

html,
body#adminBody {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: visible;
}
html body#adminBody {
    [class*="AppMainContainer"],
    [class*="AppHeaderContent"] {
        min-width: 0;
    }
    @media (max-width: 799px) {
        [class*="SidebarContainer-card"] {
            position: static;
            width: 100%;
            margin-bottom: 30px;
        }
        [class*="AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton"],
        [class*="AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton"] {
            margin: 0;
            padding: 16px 7px;
        }

        [class*="-button-"] {
            height: auto;
            line-height: 1.3;
            padding: 6px 12px;
        }
        [class*="StyledDropdownButton"] {
            padding-right: 26px;
        }
        [class*="buttonMargin"] {
            margin: 0 10px 10px 0;
        }
        [class*="CollectionMain"] {
            padding-left: 0;
        }
        [class*="CollectionTopContainer-card-cardTop"] {
            width: 100%;
        }
        [class*="ToolbarSectionMain"] {
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
        [class*="ToolbarSectionBackLink"] {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        /* Blog */
        [class*="EditorContainer"] {
            min-width: 0;
            padding-top: 100px;
        }
        [class*="ToolbarContainer"] {
            height: 100px;
            width: 100%;
            min-width: 0;
            display: flex;
            flex-direction: column;

            button,
            [class*="PublishedToolbarButton"] {
                margin: 0 10px 10px 0;
            }
        }
        [class*="EditorControlBar"] [class*="ToolbarContainer"] {
            flex-direction: row;
            button {
                margin: 0;
            }
        }

        [class*="ViewControls"] {
            display: none;
        }
        [class*="PublishedToolbarButton"]:after {
            top: 10px !important;
        }
        [class*="AvatarDropdownButton"] {
            position: absolute;
            top: 0;
            right: 0;
        }
        [class*="ToolbarToggle"] {
            flex-direction: column !important;
        }
        [class*="SplitPane"] {
            flex-direction: column !important;
        }
        [class*="SplitPane"] > * {
            width: 100% !important;
        }
        .Pane2,
        .Pane2 iframe {
            display: none !important;
        }
        /* End Blog */

        /* Media */
        [class*="StyledModal"] {
            padding: 15px;
            grid-template-rows: 160px auto !important;
            width: calc(100vw - 30px);
            [class*="CloseButton"] {
                left: -5px;
            }
            [class*="RowContainer"] {
                margin-bottom: 10px;
                [class*="ButtonsContainer"] {
                    button {
                        margin: 10px 10px 0 0;
                    }
                }
            }
        }
        [class*="SearchContainer"] {
            display: block;
            width: max-content;
            max-width: 100%;
        }
        [class*="SearchInput"] {
            width: max-content;
        }
        [class*="LibraryTop"] {
            flex-direction: column;
            [class*="RowContainer"] {
                flex-wrap: wrap;
                & > * {
                    flex: none;
                }
            }
        }
        [class*="ActionsContainer"] {
            text-align: center;
        }
        [class*="LibraryTitle"] {
            margin-bottom: 8px;
        }
        [class*="UpperActionsContainer"] {
            display: inline-block;
        }
        [class*="DownloadButton-button-default-disabled-button"] {
            margin-left: 0;
            margin-right: 0;
        }
        [class*="StyledUploadButton-button-default-disabled-button-gray"] {
            margin-left: 10px;
        }
        [class*="DeleteButton-button-default-disabled-button-lightRed"] {
            margin-top: 10px;
            margin-left: 0;
            margin-right: 0;
        }
        [class*="InsertButton-button-default-disabled-button-green"] {
            margin-top: 10px;
            margin-left: 10px;
        }
        [class*="LowerActionsContainer"] {
            display: inline-block;
            margin-top: 0;
        }
        [class*="CardGridContainer"] {
            position: static;
            overflow: visible;
            width: 100%;
            padding-top: 20px;
        }
        /* End Media */
    }
}
