---
layout: default
---

<h1>{{ page.title }}</h1>

{% include page-intro.html %}

{{ content }}

<section>

  <h2>Posts</h2>

  <ul>
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <time datetime="{{ post.date }}">
          <small>
            {{ post.date | date_to_string }}
          </small>
        </time>

        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

        <p>
        {% if post.area %}{{ post.area }} -- {% endif %}
        {% if post.town %} {{ post.town }}{% endif %}{% if post.town and post.state %},{% endif %} {% if post.state %} {{ post.state }} {% endif %}
        </p>

      </li>
    {% endfor %}
  </ul>

</section>
