---
layout: default
---

<h1 class="page__title">Our Adventures</h1>

{% include page-intro.html %}
<!--  -->
{{ content }}

<section>
    <div class="container">
        <h2 class="sr-only">Posts</h2>

        <ul class="card-grid">
            {% for post in site.posts %}
            <li class="card">
                <a class="card__image" role="presentation" href="{{ post.url }}"><img loading="lazy" src="{{ post.featured-image }}" alt=""></a>
                <div class="card__body post-location">  
                    <a href="{{ post.url }}">
                        <time datetime="{{ post.date }}"></time>{{ post.date | date: "%B %d, %Y" }}</time><br>
                        {% for place in site.places %}
                            {% capture place_slug_pretty %}{{ post.place | slice: 11,999
                            }}{% endcapture %}{% if place.slug == place_slug_pretty %}
                            {{ place.title }}{% if place.area %}{% endif %}{% endif %}{% endfor %}
                    </a>
                    {% include np-arrow-svg.html %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
