---
layout: default
---

<h1 class="page__title">Our Adventures</h1>

{% include page-intro.html %}
<!--  -->
{{ content }}

<section>
    <h2 class="sr-only">Posts</h2>

    <ul>
        {% for post in site.posts %} {% assign author =
        site.data.authors[post.author] %}
        <li>
            <time datetime="{{ post.date }}">
                <small>
                    {{ post.date | date_to_string }}
                </small>
            </time>

            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <p>
                <small>
                    {% for place in site.places %}<!--  -->
                    {% capture place_slug_pretty %}{{ post.place | slice: 11,999
                    }}{% endcapture %} {% if place.slug == place_slug_pretty %}
                    {{ place.title }} {% if place.area %} {{ page.area }}<br />
                    {% endif %} {% if place.town %}&nbsp;@&nbsp; {{ place.town
                    }}{% endif %}{% if place.town and place.state %},{% endif %}
                    {% if place.state %} {{ place.state }} {% endif %} {% endif
                    %} {% endfor %}
                </small>
            </p>
        </li>
        {% endfor %}
    </ul>
</section>
