---
layout: default
---

{% for place in site.places %}
{% capture place_slug_pretty %}{{ page.place | slice: 11, 999 }}{% endcapture %}
{% if place.slug == place_slug_pretty %}
    {% capture place_title %}{{ place.title }}{% endcapture %}
    {% capture place_url %}{{ place.url }}{% endcapture %}
    {% capture place_town %}{{ place.town }}{% endcapture %}
    {% capture place_state %}{{ place.state }}{% endcapture %}
    {% capture place_lat %}{{ place.latitude }}{% endcapture %}
    {% capture place_lng %}{{ place.longitude }}{% endcapture %}
{% endif %}
{% endfor %}
<div class="container">
<header class="post__header">
    
    <h1 class="post__title">
        <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
        {% if place_title %}
        @ <div class="place">{{ place_title }}</div>
        {% endif %}
    </h1>
    
    {% if place_lat and place_lng %}


    <div class="post__lat-lng">
        <span class="text--no-wrap" id="hikeLat"></span>,
        <span class="text--no-wrap" id="hikeLng"></span>

        <script>
            function ConvertDDToDMS(D){
                return [0|D, '° ', 0|(D<0?D=-D:D)%1*60, "' ", 0|D*60%1*60, '"'].join('');
            }
            console.log(hikeLat);
            var hikeLatDMS = ConvertDDToDMS( {{ place_lat | json }} );
            var hikeLngDMS = ConvertDDToDMS( {{ place_lng | json }}, true );

            document.getElementById("hikeLat").innerHTML=hikeLatDMS;
            document.getElementById("hikeLng").innerHTML=hikeLngDMS;
        </script>

    </div>
    {% endif %}

    {% if page.featured-image %}
    <div class="post__image">
        <img src="{{page.featured-image}}"/>
    </div>
    {% endif %}
</header>
</div>
<div class="post__body">
    <div class="post__sidebar">
        
        {% if place_title %}
        <div class="panel sign">
            <div class="post-location">  
                <div class="post-location__text">
                    <strong><a href="{{ place_url }}">{{ place_title }}</a></strong>
                    <div>
                        {% if place_town %} {{ place_town }}{% endif %}{% if place_town and place_state %},{% endif %} {% if place_state %} {{ place_state }} {% endif %}
                    </div>
                </div>
                {% include np-arrow-svg.html %}
            </div>
        </div>
        {% endif %}
        
        <div class="panel sign">
            <div class="panel__row icons">
                {% if page.activity %}
                <div class="icon">
                    <strong class="sr-only">Activity</strong>
                    <img src="/assets/img/symbol-{{ page.activity }}.svg" alt="" class="icon__img">
                    <div class="icon__label">{{ page.activity }}</div>
                </div>
                {% endif %}
                
                {% if page.distance %}
                <div class="icon">
                    <strong class="sr-only">Distance</strong>
                    <img src="/assets/img/symbol-distance.svg" alt="" class="icon__img">
                    <div class="icon__label">{{ page.distance }} mi</div>
                </div>
                {% endif %}
                
                {% if page.duration %}
                <div class="icon">
                    <strong class="sr-only">Duration</strong>
                    <img class="icon__img" src="/assets/img/symbol-duration.svg" alt="">
                    <div class="icon__label">{{ page.duration }} hr</div>
                </div>
                {% endif %}
                
                
                {% if page.difficulty %}
                
                <div class="icon">
                    <strong class="sr-only">Difficulty</strong>
                    {% if page.difficulty == '1' %}<img class="icon__img" src="/assets/img/diff-easy.svg" alt="easiest">
                    <div class="icon__label">Easiest</div>
                    {% elsif page.difficulty == '2' %}<img class="icon__img" src="/assets/img/diff-med.svg" alt="more difficult">
                    <div class="icon__label">More difficult</div>
                    {% elsif page.difficulty == '3' %}<img class="icon__img" src="/assets/img/diff-hard.svg" alt="most-difficult">
                    <div class="icon__label">Most Difficult</div>
                    {% endif %}
                </div>
                
                {% endif %}
            </div>
        </div>
        <div class="panel sign panel--column">
            
            {% if page.rating %}
                <div class="rating">
                    <div class="rating__label">Rating</div>
                    <div class="rating__value rating__value--{% if page.rating == '1' %}1{% elsif page.rating == '2' %}2{% elsif page.rating == '3' %}3{% endif %}" aria-label="{% if page.rating == '1' %}1{% elsif page.rating == '2' %}2{% elsif page.rating == '3' %}3{% endif %} out of 3">
                        <span role="presentation"><img src="/assets/img/symbol-thumbs-up.svg" alt=""></span>
                        <span role="presentation"><img src="/assets/img/symbol-thumbs-up.svg" alt=""></span>
                        <span role="presentation"><img src="/assets/img/symbol-thumbs-up.svg" alt=""></span>
                    </div>
                </div>
            {% endif %}
            
            {% if page.happiness %}
                <div class="rating">
                    <div class="rating__label">Happiness</div>
                    <div class="rating__value rating__value--{% if page.happiness == '1' %}1{% elsif page.happiness == '2' %}2{% elsif page.happiness == '3' %}3{% endif %}" aria-label="{% if page.happiness == '1' %}1{% elsif page.happiness == '2' %}2{% elsif page.happiness == '3' %}3{% endif %} out of 3">
                        <span role="presentation"><img src="/assets/img/symbol-fish.svg" alt=""></span>
                        <span role="presentation"><img src="/assets/img/symbol-fish.svg" alt=""></span>
                        <span role="presentation"><img src="/assets/img/symbol-fish.svg" alt=""></span>
                    </div>
                </div>
            {% endif %}
            
        </div>
        
        
    </div>
    <div class="post__main">
        <div class="container container--md">
            {% include page-intro.html %}

            {% if page.summary %}
            <div class="note">
                <span class="label">Route notes</span>
                <div>{{page.summary}}</div>
            </div>
            {% endif %}

            {{ content }}
        </div>
    </div>
</div>
    
<div class="container">
    <nav>
        <h2 class="sr-only">Adjacent Posts</h2>
        <ul>
            {% if page.previous.url %}
            <li>
                <a href="{{page.previous.url}}" rel="prev"
                    >&laquo; {{page.previous.title}}</a
                >
            </li>
            {% endif %} {% if page.next.url %}
            <li>
                <a href="{{page.next.url}}" rel="next"
                    >{{page.next.title}} &raquo;</a
                >
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
