---
layout: default
---
<header class="post-header">
  <time datetime="{{ page.date }}">
    <small>
      <strong>{{ page.date | date_to_string }}</strong>
      {% if author %}
        by {{ author.name }}
      {% endif %}
    </small>
  </time>

  <h2>{{ page.title }}</h2>
</header>
{% include page-intro.html %}

<h3>Hike details</h3>

<p>
  {% if page.area %} {{ page.area }} {% endif %}

  <br>

  {% if page.town %} {{ page.town }}{% endif %}{% if page.town and page.state %},{% endif %}
  {% if page.state %} {{ page.state }} {% endif %}
</p>
<p>
  {% if page.website %} <small><a href="{{ page.website }}">Visit website &rarr;</a></small> {% endif %}
  <br>
  {% if page.map-link %} <small><a href="{{ page.area-map }}">View map &rarr;</a></small> {% endif %}<br>
  {% if page.google-link %} <small><a href="{{ page.google-map }}">View on Google Maps &rarr;</a></small> {% endif %}
</p>

<p>
  {% if page.latitude and page.longitude %}
  {{ page.latitude }}, {{ page.longitude }}
  {% endif %}
</p>
<p>
  {{ page.distance }} miles | 
  {{ page.duration }} hours
</p>
<p>
{% if page.map %}{{page.map}}{% endif %}<br>
{% if page.rating %}Rating: {{page.rating}}/5{% endif %}<br>
{% if page.difficulty %}Difficulty: {{page.difficulty}}/5{% endif %}<br>
{% if page.happiness %}Flynn's Happiness: {{page.happiness}}/5{% endif %}<br>
</p>
{{ content }}

<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
